@baseFontFamily: "Roboto Slab", Arial, Helvetica, sans-serif;
@pink: #ff6fc1;  //фон шапки
@light-pink: #FFCEF9;  //фон горизонтального меню
@H_header:120px; //высота шапки
@red: #ff1521; //цвет ссылки при наведении курсора
@border_radius:5px; //скругление уголков
@white:#fff;
@black:#000;
@bg:#fff; //цвет фона основного контента
@h-fotter:100px; //высота подвала
@nav-li:#4b0404; //горизонтальная навигация
@shadow: #ccc; // тень
@border-pole:#e5e5e5; // граница поля формы


*{
  margin:0;
  padding:0;
  border:0;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
  font-family:@baseFontFamily;
  background: @bg;
  .mixin (@bg) when (lightness(@bg) < 50%) {color:lighten(@bg, 100%);}
  .mixin (@bg) when (lightness(@bg) >=50%) {color:darken(@bg, 100%);}
  .mixin(@bg);
}

#container {
  min-height:100%;
  position:relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@h-fotter;
}

#body-content{
   padding-bottom:@h-fotter;   /* Высота подвала */
}

#container {
  min-height:100%;
  position:relative;
}

//Шапка сайта
.header{
  height: @H_header;
  background:@pink;
  text-align: center;
  line-height: 105px;
  color: @light-pink;
  border-radius: @border_radius;
}
// End Шапка сайта


//Блок горизонтальной навигации
.nav{
  background: @light-pink;
  color: @pink;
  text-align: center;
  line-height: 40px;
  border-radius: @border_radius;
  margin-bottom: 10px;
}
.nav ul {
  list-style-type: none;
}

.nav li {
  display: inline;
  margin: 0 20px;
  a {
    color: @nav-li;
    text-decoration: none;
    &:hover {
      color: @red;
      text-decoration: none;
    }
  }
}


//End Блок горизонтальной навигации


//форма регистрации
.left_menu{
  background: @light-pink;
  border-radius:@border_radius;
  margin-bottom: 10px;
}
.pole{
  margin: 8px 14px 1px;
  width: 200px;
  height: 35px;
  padding:  0 0 0 3px;
  border-radius: 5px;
  border: 1px solid @border-pole;
  box-shadow: 0  2px 0 0 @shadow inset;
  font-size: 18px;
  color:@black;

}
//end форма регистрации


//Кнопка
.button{
  display: block;
  margin: 10px 69px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background: @pink;
  box-shadow: 0px 2px 2px @shadow  ;
}
.button-name {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color:@light-pink;
  text-align:center;

  &:hover{
    border: 1px solid @pink;
    background: @light-pink;
    color: @red
  }
  &:active{
    background: @black;
    color: @white;
  }
}
// End кнопка

//Основной контент
.content{
  margin-bottom: 10px;
  text-align:justify;
  text-justify:inter-word;
  text-indent:7%;

}
.text{
  margin: 10px;
}
//End Основной контент


//Павый блок с новостями
.right_block{
  background: @light-pink;
  border-radius: @border_radius;
  margin-bottom: 10px;
  color: @black;
}
.new{
  font-size: 10px;
  padding: 10px;
}
//End Павый блок с новостями


//подвал
.footer{
  height:@h-fotter;
  background:@pink;
  border-radius: @border_radius;
}
// End подвал
