* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
}
#container {
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}
#body-content {
  padding-bottom: 100px;
  /* Высота подвала */

}
#container {
  min-height: 100%;
  position: relative;
}
.header {
  height: 120px;
  background: #ff6fc1;
  text-align: center;
  line-height: 105px;
  color: #ffcef9;
  border-radius: 5px;
}
.nav {
  background: #ffcef9;
  color: #ff6fc1;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.nav ul {
  list-style-type: none;
}
.nav li {
  display: inline;
  margin: 0 20px;
}
.nav li a {
  color: #4b0404;
  text-decoration: none;
}
.nav li a:hover {
  color: #ff1521;
  text-decoration: none;
}
.left_menu {
  background: #ffcef9;
  border-radius: 5px;
  margin-bottom: 10px;
}
.pole {
  margin: 8px 14px 1px;
  width: 200px;
  height: 35px;
  padding: 0 0 0 3px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 0 0 #cccccc inset;
  font-size: 18px;
  color: #000000;
}
.button {
  display: block;
  margin: 10px 69px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background: #ff6fc1;
  box-shadow: 0px 2px 2px #cccccc;
}
.button-name {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: #ffcef9;
  text-align: center;
}
.button-name:hover {
  border: 1px solid #ff6fc1;
  background: #ffcef9;
  color: #ff1521;
}
.button-name:active {
  background: #000000;
  color: #ffffff;
}
.content {
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 7%;
}
.text {
  margin: 10px;
}
.right_block {
  background: #ffcef9;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000000;
}
.new {
  font-size: 10px;
  padding: 10px;
}
.footer {
  height: 100px;
  background: #ff6fc1;
  border-radius: 5px;
}
